<html>
  <title>this is a sercret chat test</title>
  <body>
    <form action="/new_chat" >
      <input type="test" name="chatID"/>
      <input type="test" name="password"/>
      <input type="submit" value="New chat room">
    </form>
    <br>
    <form action="/enter_chat" >
      <input type="test" name="chatID"/>
      <input type="test" name="password"/>
      <input type="submit" value="Enter chat room">
    </form>
  </body>
</html>
    